@import 'semantic-ui';

.chatbox {
    height: 450px;
    background-color: rgb(68, 68, 68) !important;
}

body {background-color: rgb(5, 5, 5) !important;}

h1,h2,h4 {color: rgb(3, 218, 39) !important;}

.summary { color: rgb(3, 218, 39) !important; }

.ui.inverted.vertical.menu {background-color: rgb(5, 5, 5) !important;}

#message-container {
    max-height: 370px;
    overflow-y: auto;
}

.ui.placeholder.segment {background-color: rgb(5, 5, 5) !important;}

.ui.vertical.divider { color: rgb(3, 218, 39) !important; }

label { color: rgb(3, 218, 39) !important; }

a.item { color: rgb(3, 218, 39) !important; }

.ui.dropdown.item, .menu.transition.visible, .ui.dropdown.item.active.visible { color: rgb(3, 218, 39) !important; }